*{
    margin:5
	
}
.wrapper{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header,.banner,.maincontent,.footer{
        
        display: block;
     
    }
.wrapper .header{
    height:150px;
    background-color: #E9222D;
    width: 98.%;
    
}

.wrapper .header .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.wrapper .header .logo{
    float: left;
    font-size: 20px;
  font-weight: bold;
}
.wrapper .header .menu{
    float: right;
        
    
}
.wrapper .header .menu,.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a.active {
  background-color: black;
  color: white;
}
.wrapper .mainbanner{
    width: 98.%;
    height: 200px;
}
.wrapper .banner{
    background-image: url(../image/BANNER.PNG);
    display: block;
    width:98.%;
    overflow: hidden;
    padding: 10px;
    height: 200px;
    background-repeat: no-repeat;
    
}
.maincontent{
  background-image: url(../image/Best-Wallpaper-HD.jpg);
}
.maincontent .reg{
	 width: 50%;
	 background-color: lightblue;
     opacity: 0.7;
    
}
.maincontent .reg .form{
    margin-left: 25%;
}
.right, .reg, .left{
    display:inline-flex;
    
}
.wrapper  .maincontent .right{
    
	width: 20%;
	background-color:green;
    float: left;
    height: 285px;
     padding-right: 60px;
     background-color: lightblue;
     opacity: 0.7;
}
.wrapper  .maincontent .left{
	width: 20%;
	 background-color: lightblue;
     opacity: 0.7;
	float: right;
    height: 285px;
    padding-right: 40px;
}
.maincontent .form .fname{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
}
.maincontent .form .lname{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
}
.maincontent .form .email{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
}
.maincontent .form .pass{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
}
.maincontent .the_tbn .sub-btn{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
    font-weight: bold;
    background-color: green;
}
.wrapper .footer{
    height:50px;
    background-color: #82B1FF;
    width: 98.%;
    text-align: center;
    
}




